name: CI

on: [push]

env:
  FILE_PATTERN: "{src,__tests__}/**/*.{ts,tsx,js,jsx}"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - {os: ubuntu-latest}
          - {os: macos-latest}
          - {os: windows-latest}
    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v2
      - name: npm install
        run: npm install
      - name: Run Prettier
        run: npx prettier --write ${FILE_PATTERN}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply Prettier changes
      - name: Run Jest
        run: npm test
      - name: Upload test coverage artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage
      - name: Show coverage in comments
        uses: ziishaned/jest-reporter-action@v0.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
